body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
}

header{
    color:white;
    font-size: 1.2em;
    background-color: blue;
    width: 100vw;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, #08e9fa, rgb(10, 8, 184));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, center;
    transition: 0.3s ease-out;
}

header img{
    width: 150px;
    height: 200px;
    border-radius: 50px;
}


/* CONTEUDO PRINCIPAL */
main{
    background-color: rgb(224, 224, 224);
    display: flex;
    margin: 0px auto;
    /* height: 100vh; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-image: url(https://i.pinimg.com/1200x/80/70/dc/8070dc6787e20f134e5ca7f10bf9b1eb.jpg); */
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    transition: 0.3s  ease-out;
}

.card1{
    width: 400px;
    display: flex;
    flex-direction:column ;
    /* background-color: rgb(150, 150, 150); */
    margin:auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.card2{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.card2 ul{
    width: 100%;
    padding: 20px;
    list-style: none;
}

.card2 li{
    padding: 20px;
    margin:auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
}

.card2 a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(to right, #08e9fa, rgb(10, 8, 184));
    padding: 10px;
    width: 250px;
    display: block; 
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card2 a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(10, 8, 184);
    transition: 0.2s;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    cursor: pointer;
}

strong{
    color:#08e9fa;
}

a{
    color: #08e9fa;
    text-decoration: none;
    transition: 0.3s ease-out;
}

a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(10, 8, 184);
    transition: 0.2s;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    cursor: pointer;
}



footer{
    display: flexbox;
    width: 100%;
    height: 50px;
    padding: 20px;
    margin: 0px ;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #08e9fa, rgb(10, 8, 184));
}

footer p{
    color: white;
    font-size: 1.2em;
    margin: 0px auto;
    text-align: center;
    line-height: 30px;
}

footer p strong{
    color:#08e9fa;
}






























